<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46694115425-uil55jmnlp48r9etpe4butue7d61se0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46694115425-uil55jmnlp48r9etpe4butue7d61se0t</string>
	<key>API_KEY</key>
	<string>AIzaSyC0DqJarKoV4uHlmpmsp8w0nI7jEDPZeMk</string>
	<key>GCM_SENDER_ID</key>
	<string>46694115425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UDLAP.Nexus.Fem</string>
	<key>PROJECT_ID</key>
	<string>nexus-aa623</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-aa623.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46694115425:ios:d7f5c8e9a81e433d5d6220</string>
</dict>
</plist>